# Struktury danych

<b>Przykład 1.</b> Jedną z najbardziej użytecznych struktur danych jest lista. Listą nazywamy zbiór wartości lub znaków zaindeksowanych od zera rosnąco w prawo.

In [50]:
lista = ["apple", "banana", "cherry"]

print(lista);

print("------------------------------")

for elem in lista:
    print(elem)

['apple', 'banana', 'cherry']
------------------------------
apple
banana
cherry

<b>Zadanie 1.</b> Napisz program obliczający sumę wszystkich liczb w liście. Nie wykorzystuj wbudowanej funkcji sumowania!

In [3]:
lista = [99,66,77,53,7,68,24,83,61,8,33,64,47,32,84,41,52,1,67,48,45,75]

<b>Zadanie 2.</b> Napisz program wyszukujący najmniejszy i największy element na liście. Nie wykorzystuj wbudowanej funkcji.

In [2]:
lista = [99,66,77,53,7,68,24,83,61,8,33,64,47,32,84,41,52,1,67,48,45,75]

<b>Zadanie 3.</b> Napisz program, który pomnoży każdą liczbę umieszczoną w liście przez 2.

In [4]:
lista = [10,20,30,40,50,60,70,80,90,100,110,120,130,140,150]

<b>Przykład 2.</b> Aby dodać element (na koniec listy) do listy, możemy użyć metody <b>append()</b>

In [49]:
lista = [10, 1, 15, 20]

lista.append(5)

print(lista)

[10, 1, 15, 20, 5]

<b>Zadanie 4.</b> Napisz program wstawiający do listy elementy zapisane w pliku zad_4.txt.

<b>Zadanie 5.</b> Napisz program wstawiający do listy liczby z pliku zad_5.txt, tylko te, które są parzyste.

<b>Przykład 3.</b> Możemy także dodawać elementy do tablicy w wybraną przez nas pozycję. Służy do tego celu metoda <b>insert()</b>.

In [62]:
lista = ["apple", "banana", "cherry"]

lista.insert(2, "orange")

print(lista)

['apple', 'banana', 'orange', 'cherry']

<b>Przykład 4.</b> Aby usunąć interesujący nas element z listy, możemy użyć metody <b>remove()</b>

In [51]:
lista = ["apple", "banana", "cherry"]

lista.remove("banana")

print(lista)

['apple', 'cherry']

<b>Przykład 5.</b> Aby usunąć element znajdujący się na podanej pozycji, możemy użyć metody <b>pop()</b>. Jeżeli metodzie nie podamy argumentu (pozycji elementu w tablicy), zostanie usunięty ostatni element tablicy.

In [56]:
lista = ["apple", "banana", "cherry"]

#usuwamy element z pozycji 0
lista.pop(0)

print(lista)

#dodajemy dwa elementy
lista.append("orange")
lista.append("pear")

print(lista)

#usuwamy ostatni element (pear)
lista.pop()

print(lista)

['banana', 'cherry']
['banana', 'cherry', 'orange', 'pear']
['banana', 'cherry', 'orange']

<b>Przykład 6.</b> Możemy także usuwać elementy za pomocą słowa kluczowego <b>del</b>. Użycie słowa kluczowego del dla całej tablicy, usuwa całą tablicę.

In [23]:
lista = ["apple", "banana", "cherry"]

del lista[0]

print(lista)

del lista

#print(lista) - w przypadku wykonania, wyskoczy błąd lista is not defined 


#usuwanie danych z pewnego zakresu

lista = ["apple", "banana", "cherry"]

del lista[0:2]

print(lista)

['banana', 'cherry']
['cherry']

<b>Zadanie 6.</b> Dodaj podane w pliku zad_6.txt liczby do listy. Następnie usuń z listy wystąpienia najmniejszej i największej liczby.

<b>Przykład 7.</b> Metodę <b>clear()</b> wykorzystujemy do usuwania wszystkich elementów tablicy. Sama lista dalej istnieje, jednak jest ona pusta.

In [58]:
lista = ["apple", "banana", "cherry"]

lista.clear()

print(lista)

[]

<b>Przykład 8.</b> Aby w prosty sposób utworzyć listę z określonym zakresem liczbowym (a nawet ustalonym skokiem liczbowym) możemy wykorzystać znaną z pętli funkcję <b>range()</b>.

In [9]:
lista = list(range(1, 11))

print(lista)

lista = list(range(1, 11, 2))

print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

<b>Zadanie 7.</b> Wypisz listę zawierającą liczby od 1 do 50 z pomocą funkcji <b>range()</b>.

<b>Zadanie 8.</b> Stwórz i wypisz listy zawierające liczby o podanych na wejściu zakresach wykorzystując funkcję <b>range()</b>. Zakresy podane są w pliku zad_8.txt.

<b>Zadanie 9.</b> W pliku zad_9.txt zostały podane liczby. Pierwsza liczba określa pierwszą liczbę w ciągu liczbowym, natomiast druga - drugą. Trzecia liczba to ostatnia liczba w tym ciągu. Stwórz listy zawierające ciągi liczbowe oraz je wypisz.

<b>Zadanie 10.</b> Na wejściu zostały podane wyrazy, dodaj je do listy za pomocą metody append, następnie dodaj te wyrazy, które mają podaną pozycję, gdzie powinny się znajdować. Wykorzystaj do tego metodę insert. Wypisz listę po dodaniu wszystkich elementów. Wyrazy zostały umieszczone w pliku zad_10.txt.

<b>Przykład 9.</b> Funkcja <b>enumerate</b> przyjmuje jako argument listę i zwraca listę krotek zawierających połączone w pary indeksy oraz elementy z listy. Funkcja może przyjąć jako argument listę.

In [64]:
dniTygodnia = ["poniedizałek", "wtorek", "środa", "czwartek", "piątek", "sobota", "niedziela"]

for i, day in enumerate(dniTygodnia):
    print(str(i+1) + " " + day)

1 poniedizałek
2 wtorek
3 środa
4 czwartek
5 piątek
6 sobota
7 niedziela

<b>Zadanie 11.</b> Dodaj podane wyrazy do listy, a następnie odnajdź indeks ostatniego wystąpnienia najkrótszego i najdłuższego wyrazu. Następnie wykorzystaj funkcję del, aby usunąć elementy pomiędzy najkrótszym i najdłuższym wyrazem (włącznie z nimi). Wypisz po kolei elementy finalnej listy. Wyrazy zostały umieszczone w pliku zad_11.txt.